#aboutus_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    overflow: auto;
    flex-direction: column;
}

#aboutus_text {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 15pt;
    
}