:root {
  --primary-color: #2196f3;
  --primary-color-darker: rgb(21, 124, 207);
}

html,body {
	width:  100%;
  height: 100%;
  margin: 0;
  padding: 0;
	
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Open Sans', 'Roboto', 'Sen', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#homepage, #root {
  height: 100%;
  width: 100%;
}

#homepage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.init-section {
  height: 80%;
  background-image: url("./images/tesla-giga-factory.jpg");
  background-size: cover;
}