#portfolio_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90%;
    overflow: auto;
    flex-direction: column;
    position: relative;
}

#button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 30%;
    margin-top: -15%;
    margin-bottom: 1%;
}

#image-compare { 
    width: 35%;
    height: 20%;
}